@font-face {
    font-family: "Euclid";
    src: url("../assets/fonts/euclid-flex.ttf") format("truetype");
  }

  body {
    overflow-x: hidden;
}
  /* Header */
header{
    background-image: url(../assets/img/meat_header.png);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-top: 30px;
    justify-content: space-between;
}

.logo_burger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    margin-left: 150px;
}

.burger{
    display: none;
}

.burger-toggle{
    display: none;
}
.nav-links{
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    
    background-image: url(../assets/svg/logo_svg.svg);   
    width: 192px;
    height: 115px;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar_img{
    width: 84px;
    height: 84px;
}

.navigation{
    display: flex;
    align-items: center;
    font-family: 'Euclid';
    gap: 50px;
    
    color: white;
    font-size: 40px;
    margin-right: 100px;
}

.contacts{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    padding: 25px;
    border: 2px solid white;

    text-decoration: none;
    color: white;
}

.advices{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    padding: 25px;
    border: 2px solid white;

    text-decoration: none;
    color: white;
}

.header_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_category_container{
    display: flex;
    width: 60%;
}

.header_category{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;

    color: #FFFFFF;

    padding: 10px 50px;
    border: 2px solid white;
    
}

.header_title{
    width: 60%;
    height: auto;

    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 120px;

    color: #FFFFFF;

}

    /* Footer */
footer{
    width: 100%;
    height: 700px;
    background: #233000;
    display: flex;
    flex-direction: column;
}

.footer_info{
    display: flex;
    height: 700px;
    justify-content:space-around;
    align-items: center;
}

.footer_food_zero{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 84px;

    color: #FFFFFF;
}

.footer_contact{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;

    margin-bottom: 50px;
}

.footer_contacts_info{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    margin-bottom: 25px;
}

.footer_email{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 248px;
}

.footer_never_miss_a_recipe{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;

    margin-bottom: 60px;
}

.input_email{
    box-sizing: border-box;

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px 40px;

    width: 60%;
    height: 96px;

    border: 2px solid #FFFFFF;

    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #FFFFFF;   

    background-color: #233000;
}

.subscribe_button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 46px;

    margin: 0 auto;
    width: 35%;
    height: 90px;

    background: #5E6600;

    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #FFFFFF;
}

.subscribe_form{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.join_text{
    width: 100%;

    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.footer_line{
    width: 100%;
}

.footer_socials{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
}
.all_rights_reserved{

    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: white;
}

.social_icons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

    /* Main */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.advice_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    width: 60%;
}

.advice_breadcrumbs{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    text-align: center;
    letter-spacing: 0.02em;
}

.advice_breadcrumbs_previous{
    color: #B0B0B0;
}

.advice_title{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #4D4D4D;
    text-decoration: none;
}

.advice_img_container{
    height: 726px;
    width: 130%;

    display: flex;
    justify-content: space-between;
}

.advice_text{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    
    letter-spacing: 0.02em;

    color: #4D4D4D;
}

.advice_image{
    background-image: url(../assets/img/advice_back_img.png);
    width: 100vw;
    height: 534px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Euclid';
    font-style: italic;
    font-weight: 700;
    font-size: 38px;
    line-height: 140%;

    color: #FFFFFF;
}

.advice_image_text{
    width: 60%;
    background-image: url(../assets/svg/quotes.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.tags{
    display: flex;
    align-items: center;
    gap: 15px;
}
.tags_word{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.tag{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #000000;

    border: 1px solid #000000 ;
    padding: 10px 20px;
}

.recipe_author{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.author_info{
    display: flex;
    flex-direction: column;
}

.author_name{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
}

.author_description{
    font-family: 'Euclid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #4D4D4D;
}

.advice_line{
    width: 80vw;
}

@media (max-width: 381px){

    .header_category_container{
        display: none;
    }
    header {
        height: auto; 
        background-size: cover;
    }

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 10px;
    }

    .logo_burger {
        margin-left: 0;
    }

    .burger{
        display: flex;
        margin-left: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: #131d30;
        width: 200px;
        padding: 10px 0;
        border-radius: 5px;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .burger-toggle:checked + .nav-links {
        display: flex;
    }

    .logo {
        font-size: 40px;
        width: 150px;
        height: 90px;
        background-size: contain;
    }

    .navigation {
        display: none;
    }

    .divider{
        display: none;
    }

    .header_text {
        margin-top: 50px;
    }

    .header_title {
        width: 90%;
        font-size: 48px;
        line-height: 50px;
    }

    .advice_section{
        width: 100%;
        margin-top: 20px;
        gap: 50px;
    }

    .advice_img_container{
        height: auto;
        width: 380px;
        flex-direction: column;
    }

    .advice_image_text{
        width: 100%;
        background-image: none;
    }

    .tags{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;
        
    }
    .tags_word{
        font-family: 'Euclid';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    
        color: #000000;
    }
    
    .tag{
        font-family: 'Euclid';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    
        letter-spacing: 0.02em;
    
        color: #000000;
    
        border: 1px solid #000000 ;
        padding: 10px 20px;
    }

    footer {
        height: auto;
        padding: 40px 0;
    }

    .footer_info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        gap: 40px;
    }

    .footer_food_zero {
        font-size: 48px;
    }

    .footer_contact {
        font-size: 24px;
    }

    .footer_contacts_info {
        font-size: 16px;
    }

    .footer_email {
        width: 90%;
        height: auto;
    }

    .input_email {
        width: 100%;
        height: 60px;
        font-size: 18px;
        padding: 15px;
    }

    .subscribe_button {
        width: 100%;
        height: 70px;
        font-size: 24px;
    }

    .footer_socials {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }

    .all_rights_reserved {
        font-size: 18px;
        text-align: center;
    }

    .social_icons {
        gap: 15px;
    }
}